@model MovieMVCMVC.Models.MoviesModel
@{
    ViewData["Title"] = "Index Movie";
}

     <div class= "row"
        <h1><span class="tab"></span></h1> 
            <a  class = "btn btn-outline-primary"
                asp-controller = "Movies"
                asp-action = "CreateButton">    
                    Create new record
            </a>
        </div>

    <div>
       @{ int cc=0;
        }
       <table class="table">
        <tbody>
            @foreach (var item in @Model.Movie) {
                <tr>
                    <td>
                        
                        <img src="@Model.Links[cc]" alt="Sample Image" width="150px" />
                        
                    </td>
                    <td>
                       <h5> <a asp-controller = "Movies"
                            asp-action = "Details"
                            asp-route-id = "@item.MovieID">
                            @item.Title
                            </a>
                        </h5>
                        <h6>@item.Year</h6>
                        <h6>
                            @item.Runtime minutes
                        </h6>
                    </td>
                    </tr>
                ++cc;

            }
        </tbody>
    </table>
        
            @if (ViewBag.Page > 0)
        {
            <a href= "@Url.Action("Index",  new { page = ViewBag.Page - 1 })" > Prev </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })" >Next</a>
        }
    </div>



