@{
    ViewData["Title"] = "Movie Search Results";
}

<h2></h2>
<div class = "twoColumns">
    <h1 class="display-4">Search Results For: @ViewData["search"]</h1>
    <p class="lead">
    </p>
</div>

   <div>
       @{ int cc=0;
        }
       <table class="table">
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        
                        <img src="@ViewBag.Images[cc]" alt="Sample Image" width="150px" />
                        
                    </td>
                    <td>
                       <h5> <a asp-controller = "Movies"
                            asp-action = "Details"
                            asp-route-id = "@item.MovieID">
                            @item.Title
                            </a>
                        </h5>
                        <h6>@item.Year</h6>
                        <h6>
                            @item.Runtime minutes
                        </h6>
                    </td>
                    </tr>
                ++cc;

            }
        </tbody>
    </table>
</div>


